@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "D2Coding", sans-serif;
}
:root {
  background-color: #f4f6f8;
  /* background-color: #5b87c7; */
  --bg-gray: #abb0ba;
  --bg-blue: #007aff;
  --bg-red: #ff3b30;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scrollbar-width: none;
  /*background: url("../../public/wallpaper.png") round;*/
}

::-webkit-scrollbar {
  display: none;
}

/* footer {
  position: sticky;
  width: 100%;
  bottom: 0;

  align-items: center;
  justify-content: center;
  background-color: #002fff;
} */
